build
[Dd]ebug
[Rr]elease
X64
scratch
scratch/*
ipch
ipch/*
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.suo
*.cache
*.Cache
~$*
Thumbs.db
*.cache
.svn
*.pidb
*.user
*.ndproj
*.xls
*.htm
*.log
*.sdf
*.opensdf